In [9]:
################################################################
# Purpose: Read TIF satellite data 
# Author: Aster Volta
# Date: 8/10/22
################################################################

# Set up the libraries and modules
#
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

import rasterio
import seaborn as sns

NASA-USDA Enhanced SMAP Global Soil Moisture Data
https://developers.google.com/earth-engine/datasets/catalog/NASA_USDA_HSL_SMAP10KM_soil_moisture

### Input file name:

In [ ]:
file_in = input('CSV file name: ')

In [14]:
df_ssma = pd.read_csv(file_in, header=None)
df_ssma

,0,1,2,3,4,5,6,7,8,9,...,3572,3573,3574,3575,3576,3577,3578,3579,3580,3581
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
month = input('input month: ')

In [ ]:
# HeatMap
fig, ax = plt.subplots(figsize=(14,7))         # Sample figsize in inches
heat_map = sns.heatmap(df_ssma, xticklabels=False, yticklabels=False, vmin=-1e-5, vmax=3e-5, cmap="PiYG")

# Add Title
plt.title( 'Time Averaged Map of Surface Soil Moisture Anomalies 10KM. \n NASA_USDA/HSL/SMAP10KM_soil_moisture \n over 2020-'+month+' \n')

# Display
plt.show()